{% extends 'base.html' %}
{% block title %}DO Predict!!{% endblock %}
{% block content %}
<h3>예측 결과를 볼 수 있는 페이지입니다 </h3>
<h4> 조별리그 </h4>
{% for group in keys %}
<ul class="list-group">
<li class="list-group-item active">group {{ group }}</li>

    {% for result in result[group] %}
        <li class="list-group-item">{{result}}</li>
    {% endfor %}
</ul>
<br>
{% endfor %}
<h4> 토너먼트 </h4>
{% for groupstage in finals %}
<ul class="list-group">
<li class="list-group-item active"> {{ groupstage }}</li>

    {% for result in single_result_table[groupstage] %}
        <li class="list-group-item">{{result}}</li>
    {% endfor %}
{% endfor %}
</ul>
<br>

{% endblock %}